<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Manthan - 2020</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div class="container">
    <h1 class="brand"><span>Manthan</span> 2020</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <!-- <h3>Success :)</h3> -->
        <ul>
            <li>Success :)</li>
            <li> You have been registered<br/>For<br/>Manthan 2020</li>
            <li> We have sent you an email with all required information</li>
            <li> See you at manthan 2020</li>
          </ul>
      </div>
      <div class="contact form p">
        <img src="./images/MANTHAN2020.jpg" class = "image" alt="MANTHAN2020">
      </div>
    </div>
  </div>
</body>
</html>